.newsletters{
  width: 85%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 40px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  gap: 30px;
}

.offers-left{
  padding: 8px 15px;

}

.newsletters h1{
  color: #454545;
  font-size: 28px;
  font-weight: 600;
}

.newsletters p {
  color:#454545;
  font-size: 16px
}

.newsletters div{
  display:flex ;
  align-items:center;
  justify-content:center;
  background:white;
  width: 730px;
  gap: 10px;
}

.newsletters input {
  width: 500px;
  height: 60px;
  margin-left: 30px;
  border: none;
  color: #616161;
  font-family: poppins;
  font-size: 16px;
  background:#dfd8df;
  border-radius: 12px;
}

.newsletters div button {
  width: 190px;
  height: 70px;
  border-radius: 80px;
  background: black;
  color:white;
  font-size: 16px;
  cursor: pointer;
}



@media (max-width :815px) {

  .newsletters h1 {
    font-size: 18px;
  }

  .newsletters p{
  font-size: 13px;
  }

  .newsletters div{
    width: 497px;
  }

    .newsletters input{
      height: 48px;
    }
 
  .newsletters div button {
    width: 165px;
    height: 50px;

    }
}


@media (max-width: 750px) {
  .offers-left h1 {
    font-size: 19px;
  }

  .offers-left p {
    font-size: 8px;
  }

  .offers-left button {
    width: 90px;
    height: 30px;
    font-size: 10px;
  }

  .offers-right img {
    transform: scale(0.7);
  }

  .offers {
    margin-bottom: 60px;
    padding: 0px 20px
  }
}



@media (max-width: 650px) {

  .newsletters {
    padding: 0px 20px;
  }

  .newsletters input {
    margin-left: 0px;
  }

  .newsletters div {
    width: 425px;
  }

}


@media (max-width: 580px) {
  .newsletters {
    padding: 0px 20px;
    margin-bottom: 50px;
  }

  .newsletters input {
    margin-left: 0px;
  }

  .newsletters div button {
   font-size: 12px;
   width: 180px;
   height: 50px;
  }

  .newsletters div {
    width: 325px;
  }
}